In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset_3 = pd.read_csv("/home/fabiojv/code/Fabio7120/reviewlution/raw_data/dataset_3.csv")
dataset_3.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

# lower case

In [3]:
dataset_3['Review'] = dataset_3['Review'].str.lower()

# remove punctuation

In [4]:
dataset_3['Review'][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,  '

In [5]:
import string
from nltk.tokenize import word_tokenize

punctuation = string.punctuation

def remove_punctuation(X):
    for punctuation in string.punctuation:
        X = X.replace(punctuation, '')
    return X

In [6]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [7]:
dataset_3['Review_clean'] = dataset_3['Review'].apply(remove_punctuation)

In [8]:
dataset_3['Review_clean'][0]

'nice hotel expensive parking got good deal stay hotel anniversary arrived late evening took advice previous reviews did valet parking check quick easy little disappointed nonexistent view room room clean nice size bed comfortable woke stiff neck high pillows not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway maybe just noisy neighbors aveda bath products nice did not goldfish stay nice touch taken advantage staying longer location great walking distance shopping overall nice experience having pay 40 parking night  '

# stopwords

In [9]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

stop_words = stopwords.words('english')

def stopwords(text):
    # Tokenizing
    text_tokenized = word_tokenize(text)
    text = [word for word in text_tokenized if not word in stop_words]
    text = ' '.join([word for word in text])
    return text

In [10]:
dataset_3['Review_clean'] = [stopwords(dataset_3['Review_clean'][row]) for row in range(0, len(dataset_3['Review_clean']))]

In [11]:
dataset_3['Review_clean'][0]

'nice hotel expensive parking got good deal stay hotel anniversary arrived late evening took advice previous reviews valet parking check quick easy little disappointed nonexistent view room room clean nice size bed comfortable woke stiff neck high pillows soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway maybe noisy neighbors aveda bath products nice goldfish stay nice touch taken advantage staying longer location great walking distance shopping overall nice experience pay 40 parking night'

## check

In [12]:
dataset_3

,Review,Rating,Review_clean
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms 4 experience hotel monaco seattle g...
3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...
4,"great stay great stay, went seahawk game aweso...",5,great stay great stay went seahawk game awesom...
...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,best kept secret 3rd time staying charm 5star ...
20487,great location price view hotel great quick pl...,4,great location price view hotel great quick pl...
20488,"ok just looks nice modern outside, desk staff ...",2,ok looks nice modern outside desk staff nt par...
20489,hotel theft ruined vacation hotel opened sept ...,1,hotel theft ruined vacation hotel opened sept ...
20490,"people talking, ca n't believe excellent ratin...",2,people talking ca nt believe excellent ratings...

# stemming (Do Not Include - Breaks words badly)

In [13]:
# from nltk.stem.porter import PorterStemmer
# from nltk.tokenize import word_tokenize

# stemmer = PorterStemmer()

# def stemming(text):
#     # Tokenizing
#     text_tokenized = word_tokenize(text)
#     text = [stemmer.stem(word) for word in text_tokenized]
#     text = ' '.join([word for word in text])
#     return text

In [14]:
# dataset_3['Review_clean'] = [stemming(dataset_3['Review_clean'][row]) for row in range(0, len(dataset_3['Review_clean']))]

In [15]:
dataset_3

,Review,Rating,Review_clean
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms 4 experience hotel monaco seattle g...
3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...
4,"great stay great stay, went seahawk game aweso...",5,great stay great stay went seahawk game awesom...
...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,best kept secret 3rd time staying charm 5star ...
20487,great location price view hotel great quick pl...,4,great location price view hotel great quick pl...
20488,"ok just looks nice modern outside, desk staff ...",2,ok looks nice modern outside desk staff nt par...
20489,hotel theft ruined vacation hotel opened sept ...,1,hotel theft ruined vacation hotel opened sept ...
20490,"people talking, ca n't believe excellent ratin...",2,people talking ca nt believe excellent ratings...

# lemmatizing

In [16]:
!pip install nltk

Requirement already satisfied: nltk in /home/fabiojv/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (3.5)
Requirement already satisfied: click in /home/fabiojv/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in /home/fabiojv/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from nltk) (1.0.0)
Requirement already satisfied: regex in /home/fabiojv/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from nltk) (2020.11.13)
Requirement already satisfied: tqdm in /home/fabiojv/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from nltk) (4.56.0)

In [17]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /home/fabiojv/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [18]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

def lemmatizing(text):
    text_tokenized = word_tokenize(text)
    lemmatized = [lemmatizer.lemmatize(str(word)) for word in text_tokenized]
    text = ' '.join([word for word in lemmatized])
    return text

In [26]:
type(dataset_3['Review_clean'][:10].apply(lemmatizing)[0])

str

In [27]:
dataset_3['Review_clean'] = dataset_3['Review_clean'].apply(lemmatizing)

## check

In [28]:
dataset_3

,Review,Rating,Review_clean
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice room 4 experience hotel monaco seattle go...
3,"unique, great stay, wonderful time hotel monac...",5,unique great stay wonderful time hotel monaco ...
4,"great stay great stay, went seahawk game aweso...",5,great stay great stay went seahawk game awesom...
...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,best kept secret 3rd time staying charm 5star ...
20487,great location price view hotel great quick pl...,4,great location price view hotel great quick pl...
20488,"ok just looks nice modern outside, desk staff ...",2,ok look nice modern outside desk staff nt part...
20489,hotel theft ruined vacation hotel opened sept ...,1,hotel theft ruined vacation hotel opened sept ...
20490,"people talking, ca n't believe excellent ratin...",2,people talking ca nt believe excellent rating ...

# Splitting

In [22]:
X = dataset_3.drop(columns=['Rating'])
y = dataset_3['Rating']/5

In [23]:
from sklearn.model_selection import train_test_split

# Hold out 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#check
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((16392, 2), (4099, 2), (16392,), (4099,))

In [24]:
X_train = X_train.reset_index()
X_test = X_test.reset_index()

In [25]:
X_train = X_train.drop('index', axis=1)
X_test = X_test.drop('index', axis=1)